
 *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container{
    /* background-color: rgb(36, 36, 126); */
    width: 100%;
    height: 100vh;
    display:grid;
    place-content: center;
}
/* .container >.card-body{
    background-color:rgb(254, 255, 254);
    width: 1010px;
    height: 925px;
    padding: 20px;
    box-shadow: 0px 0px 10px rgb(0, 0, 0);
    border-radius: 8px;
} */
/* .container >.card-body> .image{
    width: 100%;
    height: 16%;
    /* background-color: rgb(42, 192, 87); */
/* }
.container >.card-body> .image img{
    width: 100%;
    height: 100%;
    object-fit: contain;

} */ */
.container >.card-body>form{
    text-align: center;

}
.container >.card-body>form>.section1{
    width: 100%;
    display: flex;
    align-items: center;
    place-content:center;
    justify-content: space-between;
}
.container >.card-body>form>.section1>input{
    width:49%;
    padding: 10px ;
    margin: 10px 0;
}
.container >.card-body>form>.section2{
    display: flex;
    align-items: center;
    place-content:center;
    justify-content: space-between;
}
.container >.card-body>label,input{
    padding: 0;
    margin: 0 ;
}
.container >.card-body>form>.section2>input{
    width: 35%;
    padding: 10px ;
    margin: 20px 0;
}
.container >.card-body>form>.section2>.gender>label{
    width: 35%;
    padding: 10px ;
    margin: 20px 0;
}
.container >.card-body>form>.section3>input{
    display: grid;
    place-content: center;
    width: 100%;
    padding: 10px;
    margin: 10px 0;
}

.container >.card-body>form>.section4>.Applyfor{
    display: grid;
    align-items: center;
    place-content: center;
    justify-content: space-between;
}
/* .container >.card-body>form>.section4>.Applyfor >.Apply>input,label{
    margin: 0 10px;
} */
.container >.card-body>form>.section5{
    width: 100%;
    display: flex;
    align-items: center;
    place-content:center;
    justify-content: space-between;
}
.container >.card-body>form>.section5>input{
    width:32%;
    padding: 10px ;
    margin: 10px 0;
}
.container >.card-body>form>.section6>.Applyfor{
    display: flex;
    align-items: center;
    place-content: center;
    justify-content: space-between;
    padding: 0;
    margin: 10px 0;
}
.container >.card-body>form>.section6>.School{
    display: flex;
    align-items: center;
    place-content: center;
    justify-content: space-between;
    padding: 0;
    margin: 10px 0;
}
.container >.card-body>form>.section6>.School>.note{
    display: flex;
    align-items: center;
    place-content: center;
    padding: 0;
    margin: 10px 0;
}
/* .container >.card-body>form>.section4>.Applyfor >.Apply>input,label */
table {
    /* width: 80%;
    margin: auto; */
    border-collapse: collapse;
    background-color: black;
    color: white;
    font-size: 16px;
    border: 1px solid white;
}

th, td {
    padding: 10px;
    border: 1px solid white;
    text-align: left;
}

th {
    background-color: #222;
}
.container > .card-body > form > button{
    margin: 10px;
    width: 30%;
    padding: 15px ;
    border: none;
    border-radius: 14px;
    background-color:rgb(35, 12, 97) ;
    color: #fff;
    cursor: pointer;
    transform: 0.3s ease-in-out;

}
.container > .card-body > form > button:hover{
    transform: scale(1.1);
}


